{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur O'flix{% endblock %}

{% block body %}
    <div class="p-4 bg-info text-center">
        <h1>Regardez des séries TV en ligne</h1>
        <h2>Films, séries TV et bien plus en illimité. Où que vous soyez. Prêt à regarder O'flix?</h2>
        <a href="{{ path('show_list') }}" class="btn btn-danger">Commencez maintenant</a>
    </div>
    <p class="container blockquote text-center">{{quote}}</p>
{% endblock %}
