.shadow {
    box-shadow: rgb(43, 111, 199) .3rem .5rem .3rem;
    transition: .4s;
}

.shadow:hover {
    box-shadow: rgb(223, 59, 59) .3rem .5rem .3rem;
}

a{
    font-weight: bold;
    color: rgb(33, 75, 189);
    transition: .3s;
}
a:hover { 
    text-decoration: none;
    color: rgb(214, 39, 39); }

.nav-link {
    font-weight: normal;
}

.showCard {
    width: 15rem;
}

.card-show-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cardShowImg {
    height: 20rem;
    min-width: 100px;
}


@media(max-width:767px){
    .showCard {
        width: auto;
        height: auto;
    }
    .cardShowImg {
        height: 100%;
        width: 150px;
    }
    .btnShow{
        display: none;
    }
}